/* ===================
    CUSTOM PROPERTIES
===================== */

:root {
  --clr-neutral-100: hsl(36, 100%, 99%);
  --clr-neutral-200: hsl(233, 8%, 79%);
  --clr-neutral-400: hsl(236, 13%, 42%);
  --clr-neutral-900: hsl(240, 100%, 5%);

  --clr-primary-400: hsl(35, 77%, 62%);
  --clr-secondary-400: hsl(5, 85%, 63%);

  --ff-primary: "Inter", sans-serif;

  --fs-400: 0.9375rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2.75rem;

  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;
}

@media (min-width: 45em) {
  :root {
    --fs-400: 1rem;
    --fs-800: 2.5rem;
    --fs-900: 3.75rem;
  }
}

/* ===================
    RESET
===================== */

/* sets box sizing rules */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* sets root core defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* sets body core defaults */

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;

  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--clr-neutral-400);
  background-color: var(--clr-neutral-100);
}

/* removes default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* removes unnecessary space caused by line-height*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

/* gives default styling to a elements without a class*/

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* makes images easier to work with*/
img,
picture {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* removes list styles on ul and ol elements with the role of list*/

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding: 0;
}

/* inherits fonts for button and inputs*/

button,
input,
select,
textarea {
  font: inherit;
}

/* removes animations and transitions for people who prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ===================
    UTILITY CLASSES
===================== */

.container {
  max-width: 75rem;
  padding-inline: clamp(0.75rem, 2vw, 1.5rem);
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--flex-space, 1rem);
}

.grid {
  display: grid;
  gap: var(--grid-space, 1rem);
}

.grid[data-type="3-col"] {
  --grid-space: 0 1.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid[data-type="3-col"] > *:not(:first-child) {
  grid-column: 2 / span 2;
}
.grid[data-type="3-col"] > *:first-child {
  grid-column: 1 / span 1;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-200 {
  color: var(--clr-neutral-200);
}
.text-neutral-400 {
  color: var(--clr-neutral-400);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}
.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-secondary-400 {
  color: var(--clr-secondary-400);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}
.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}
.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-secondary-400 {
  background-color: var(--clr-secondary-400);
}

.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}
.fw-400 {
  font-weight: var(--fw-400);
}
.fw-700 {
  font-weight: var(--fw-700);
}
.fw-800 {
  font-weight: var(--fw-800);
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-1 {
  letter-spacing: 0.25rem;
}

.d-block {
  display: block;
}

.max-height {
  height: 100%;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0 0) !important;
  white-space: nowrap !important;
}

.skip-to-content {
  position: absolute;
  margin-inline: auto;
  transform: translate(50%, -100%);
  text-decoration: none;
  transition: transform 300ms ease-out;
}

.skip-to-content:focus {
  transform: translate(50%, 0);
}

/* ===================
    COMPONENTS
===================== */

.overlay::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: hsl(240 100% 5% / 0.5);
  z-index: 2;
}

.primary-header {
  padding-block: clamp(2rem, 5vw, 3rem);
}

.primary-header > .flex {
  justify-content: space-between;
  align-items: center;
}

.mobile-btn {
  display: none;
}

.hamburger {
  width: 2.5rem;
  height: 0.25rem;
  background-color: var(--clr-neutral-900);

  transition: transform 500ms ease-in-out, opacity 300ms ease-in-out;
}

.nav__list {
  --flex-space: 2.6rem;
}

.nav__link,
.link {
  text-decoration: none;
  color: currentColor;
}

.nav__link:hover,
.nav__link:focus,
.link:hover,
.link:focus {
  text-decoration: none;
  color: var(--clr-secondary-400);
}

@media (max-width: 45em) {
  .body::before.menu-is-open {
    opacity: 1;
  }
  .primary-header {
    align-items: center;
  }

  .mobile-btn {
    display: block;
    position: absolute;
    inset: auto 0 auto auto;
    aspect-ratio: 1;
    padding-inline: clamp(0.75rem, 2vw, 1.5rem);
    z-index: 11;
  }

  .hamburger:where(:not(:first-of-type)) {
    margin-top: 0.45rem;
  }

  .mobile-btn[aria-expanded="true"] {
    position: fixed;
  }

  .mobile-btn[aria-expanded="true"] .line2 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .mobile-btn[aria-expanded="true"] .line1 {
    transform: translateY(0.65rem) rotate(45deg);
  }

  .mobile-btn[aria-expanded="true"] .line3 {
    transform: translateY(-0.75rem) rotate(-45deg);
  }

  .primary-nav {
    position: fixed;
    inset: 0 0 0 33%;

    padding-inline: 1.5rem;
    padding-block: max(5rem, 17vh);
    background-color: var(--clr-neutral-100);

    transform: translateX(100%);
    transition: transform 750ms ease-in-out;
    z-index: 10;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0);
  }

  .nav__list {
    --flex-space: 1rem;
    flex-direction: column;
    align-items: start;
  }

  .nav__link {
    font-size: var(--fs-600);
    color: var(--clr-neutral-900);
  }
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn[data-type="primary"],
.btn[data-type="reversed"] {
  padding-block: 0.75em;
  padding-inline: 2em;
}

.btn[data-type="primary"] {
  --hover-bg: var(--clr-neutral-900);
  background-color: var(--clr-secondary-400);
  color: var(--clr-neutral-100);

  position: relative;
  z-index: 1;
  isolation: isolate;
}

.btn[data-type="reversed"] {
  --hover-bg: var(--clr-secondary-400);
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: var(--hover-bg);
  clip-path: circle(0% at 0% 0%);
  transition: clip-path 550ms;
  z-index: -1;
}

.btn[data-type="reversed"]::before {
  transition-delay: 300ms;
}

.btn:hover::before,
.btn:focus::before {
  clip-path: circle(75%);
}

.card {
  padding-block: 2em;
  padding-inline: 1.75em;
  background-color: var(--bg);
  color: var(--fg);
}

.card[data-theme="dark"] {
  --accent: var(--clr-primary-400);
  --bg: var(--clr-neutral-900);
  --fg: var(--clr-neutral-200);
}

.card__list > * {
  padding-top: 1.5em;
  margin: 0;
}

.card__list > *:where(:not(:first-child)) {
  position: relative;
}

.card__list > *:where(:not(:last-child)) {
  padding-bottom: 1.75em;
}

.card__list > *::after {
  content: "";
  position: absolute;
  inset: 0 0 0 auto;
  height: 1px;
  width: 100%;
  background-color: var(--fg);
}

.card__title {
  color: var(--accent);
}

.card .link {
  color: var(--clr-neutral-100);
}

.card .link:hover,
.card .link:focus {
  color: var(--clr-primary-400);
}

.numbered-titles h3 {
  display: block;
  font-size: var(--fs-800);
  font-weight: var(--fw-700);
  color: var(--clr-neutral-200);
}

.numbered-titles .title {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  color: var(--clr-neutral-900);
}

/* ===================
    LAYOUT
===================== */

.grid--home {
  --grid-space: 3rem 0;
  grid-template-columns: 1fr;
}

.grid--home > * {
  grid-column: 1 / -1;
}

.popular__list > *:where(:not(:first-child)) {
  margin: 1.5em 0 0 0;
}

.popular__list .article-preview__body {
  --flow-space: 0.5rem;
  margin-block: auto;
}

@media (min-width: 42em) {
  .grid--home {
    --grid-space: 3rem 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto;
  }

  .grid--home .featured-articles {
    grid-area: featured;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .grid--home .new-articles {
    grid-area: new;
    grid-column: 2 / span 1;
    grid-row: 2;
    align-self: start;
  }
  .grid--home .popular-articles {
    grid-area: popular;
    grid-column: 1 / span 1;
    grid-row: 2;
  }

  .featured__article {
    --grid-space: 0;
    --flow-space: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto;
  }

  .featured__article picture {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  .featured__article h3 {
    grid-column: 1;
    grid-row: 2;
  }
  .featured__article .article-preview__body {
    grid-column: 2;
    grid-row: 2;
    margin-inline: 0.75rem;
  }
}

@media (min-width: 73em) {
  .grid--home {
    --grid-space: 3em 1.75em;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto auto;
  }

  .grid--home .featured-articles {
    grid-area: featured;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .grid--home .new-articles {
    grid-area: new;
    grid-column: 3 / span 1;
    grid-row: 1;
  }
  .grid--home .popular-articles {
    grid-area: popular;
    grid-column: 1 / -1;
    grid-row: 2;
  }

  /* featured article */

  /* most popular articles */

  .popular__list {
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 0;
  }

  .popular__list > *:where(:not(:first-child)) {
    margin-top: 0;
  }
}
